.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding-top: 50px;
    padding-bottom: 45px;
    
    &__logoBox {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        text-decoration: none;
        &:hover .header__title {
            color: $goldSiteColor;
        }
    }
    &__title {
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        color: $blackSiteColor;
        transition: 0.3s;
    }
    &__menuBar {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
    }
    &__link {
        text-decoration: none;
        color: $blackSiteColor;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        transition: 0.3s;
        &:hover {
            color: $goldSiteColor;
        }
    }
}