@import 'vars';
@import 'footer';
@import 'header';
@import 'mixins';
@import 'poster';
@import 'BlogPage/lastPost';
@import 'BlogPage/articlesNews';
@import 'blogDetails';
@import 'pagination';
@import 'Landing/welcomeBanner';
@import 'ProjectPage/project';
@import 'Landing/counter';
@import 'blog';
@import 'ProjectPage/projectTager';

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.center {
    padding-left: 18.75%;
    padding-right: 18.75%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: -webkit-fill-available;
}