.poster {
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    margin-bottom: 200px;

    &__intro {
        background-color: $whiteColor;
        border-radius: 37px 37px 0 0;
        padding: 41px 125px;
        text-align: center;
        margin-top: 102px;
    }

    &__title {
        @include setterFontStyle('DM Serif Display', 40px, 125%, $blackSiteColor);
    }

    &__text {
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }
}

#projectPoster {
    background-image: url(@/assets/imgs/subHeaders/projectPoster.webp);
}
#blogPoster {
    background-image: url(@/assets/imgs/subHeaders/blogPoster.webp);
}
#blogDetailsPoster {
    background-image: url(@/assets/imgs/subHeaders/blogDetailsPoster.webp);
    height: 263px;
}